<footer class="footer" data-background-color="black">
  <div class="container" style="display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap;">
    
    <!-- Left side: nav and attribution -->
    <div id="footer-left">
      <nav>
        <ul style="list-style: none; padding-left: 0;">
          <li>
            <a href="/"><i class='fa fa-balance-scale'></i> SBFT&#39;26</a>
            <!-- Attribution will be inserted here by JS -->
          </li>
        </ul>
      </nav>
    </div>

    <!-- Right side: logos -->
    <div id="footer-right" style="text-align: right;">
      <img height="24px" style="vertical-align:top" src="https://conf.researchr.org/getLogo/5d74ba38-698f-46af-9929-3dc0700e6142?1698376867000" alt="TCSE logo">
      <br>
      <img height="24px" style="vertical-align:top" src="/img/sigsoft2.png" alt="ACM SIGSOFT logo">
    </div>

  </div>
</footer>

<script>
  const path = window.location.pathname;

  // Only if on the base URL
  if (path === '/sbft26' || path === '/sbft26/') {
    const li = document.querySelector('#footer-left nav ul li');

    const p = document.createElement('p');
    p.innerHTML = `
      <a href="https://de.freepik.com/fotos-kostenlos/luftaufnahme-von-lagoa-in-rio-de-janeiro-brasilien_13291756.htm#fromView=keyword&page=1&position=20&uuid=62833d4c-3b61-4fcd-ba0f-7324e0c4254e&query=Rio+De+Janeiro">
        Aerial view of Lagoa in Rio de Janeiro, Brazil
      </a> by 
      <a href="https://de.freepik.com/autor/wirestock">Wirestock</a> (Free use)
    `;

    li.appendChild(p);
  }
</script>
