<div class="page-header page-header-small" filter-color="purple" style="height: 40vh;">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/img/ottawa-falls.jpeg');">
    </div>
    <div class="container">
        <div class="content-center" style="padding-top: 5cm; padding-bottom: 1cm">
            <h1 class="title">SBFT 2025</h1>
            <div class="text-center">
                <h5>The 18th Intl. Workshop on Search-Based and Fuzz Testing</h5>
                <h5>Sun 27 April - Sat 3 May 2025, Ottawa, Canada</h5>
                <a href="https://twitter.com/sbftworkshop" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://youtube.com/@sbftworkshop" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>