<style>
  .page-header-image {
    background-image: url('{{ "/img/ottawa-falls.jpeg" | relative_url }}');
    background-size: cover;
    background-position: center;
  }
</style>

<div class="page-header page-header-small" filter-color="purple" style="height: 40vh;">
    <div class="page-header-image" data-parallax="true"></div>
    <div class="container">
        <div class="content-center" style="padding-top: 5cm; padding-bottom: 1cm">
            <h1 class="title">SBFT 2026</h1>
            <div class="text-center">
                <h5>The 19th Intl. Workshop on Search-Based and Fuzz Testing</h5>
                <h5>TBD - TBD 2026, Rio de Janeiro, Brazil</h5>
                <a href="https://twitter.com/sbftworkshop" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://youtube.com/@sbftworkshop" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>
